<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium 101 Test Suite" parallel = "methods">
    <test verbose="1" name="Parallel Test">
        <classes>
            <class name="testcases.SimpleFormTest"/>
            <class name="testcases.InputFormTest"/>
        </classes>
    </test>
    <test verbose="1" name="Sequential Test">
        <classes>
            <class name="testcases.SliderDemoTest"/>
        </classes>
    </test>
</suite>